* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    max-height: 100dvh;
    max-width: 100dvw;
    overflow-x: hidden;
    overflow-y: scroll;
}
#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;    
    max-height: 90dvh !important;
    max-width: 100dvw !important;
}
#pongCanvas {
    background: #111;
    border: 3px solid #fff;
    box-shadow: 0 0 30px #000;
    display: block;
    height: 25rem;
    width: 100%;
}

p {
    text-align: center
}
p, span {
    font-size: 20px
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 5px;
    font-size: 16px
}
button:hover {
    transform: scale(1.1);
    color: #fff !important
}
#start {
    color: green;
}
#end {
    color: yellow;
}
#reset {
    color: red;
}
#player-label {
    transform: translate(10rem, -10rem);
}
#cpu-label {
    transform: translate(-10rem, -10rem);
}
audio {
    display: none;
}

@media screen and (max-width: 450px) {
    #gameContainer {
        height: 100dvw !important;
        width: 120dvw !important;
    }
    #player-label {
        transform: translate(5rem, -10rem);
    }
    #cpu-label {
        transform: translate(-5rem, -10rem);
    }
}
